body {
	/*background-color: black;*/
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.head {
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
  /*background-color: lightyellow;*/
}

.footer {
	text-align: center;
	margin-top: 5em;
	font-size: 0.8em;
}

.nav-gallery {
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
  /*background-color: lightyellow;*/
  font-size: 0.8em;
  margin:0.5em 0;
}

.container {
	margin: 0 2em;
	padding: 1em;
	background-color: white;
}

/*.content {
	margin: 1em;
}
*/

.section {
	width: 100%;
	/*margin: 0 auto;*/
	text-align: center;
}

.section > .head {
	display: none;
}

/*.section > .nav-gallery {
	clear: both;
}

.container > .head {
	float:left;
}*/

img.portrait {
	/*width: 100%;*/
	max-height: 70vh;
	margin: 0 ;
}

img.landscape {
	width: 100%;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #b70000;
}

a.active {
	color: #b70000;
	font-weight: bold;
}

/*.container > .nav {
	float: right;
}

.container > ul.nav {

    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.container > .nav a {

    width: 6em;
    text-decoration: none;
    color: white;
    background-color: purple;
    padding: 0.2em 0.6em;
    border-right: 1px solid white;
}

.container > .nav a:hover {background-color: #ff3300;}
*/

.nav {
	padding-top: 1em;
}

.nav li {
	display: inline;
	margin-left: 1.5em;
}

.head {
	vertical-align: middle;
}

img {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}